* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --accent-color: #00ff00;
    --content-width: 800px;
    --radius: 10px;
    --shadow: 0 0 10px var(--accent-color);
    --bg: #000;
    --body-bg: rgb(17, 17, 17);
}

body {
    font-family: monospace;
    background-color: var(--body-bg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    padding: 50px 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg);
    margin: 0 auto;
    box-shadow: var(--shadow);
    max-width: var(--content-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid var(--accent-color);
        border-right: 1px solid var(--accent-color);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

br {
    margin-bottom: 10px;
}

fieldset {
    width: 90%;
    max-width: 600px;
    text-align: left;
    font-size: 1.2em;
    border: 1px solid var(--accent-color);
    border-radius: var(--radius);
    padding: 10px 10px 15px;
    margin-top: 20px;
    box-shadow: var(--shadow);
}

fieldset legend {
    box-shadow: var(--shadow);
    padding: 0 10px;
    text-align: center;
    border: 1px solid var(--accent-color);
    border-radius: var(--radius);
    background-color: var(--accent-color);
    color: black;
    font-weight: bold;
    margin: auto;
}

.gallery {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

img {
    max-height: 250px;
    max-width: 100%;
    border: 1px solid var(--accent-color);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

footer,
nav {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: var(--shadow);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    border-top-left-radius: var(--radius);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 0 5px 5px;
    border-bottom-right-radius: var(--radius);
    border: 1px solid var(--accent-color);
}

li {
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 255);
}

hr {
    box-shadow: var(--shadow);
    border-color: var(--accent-color);
    margin: 20px -10px;
}

@media (min-width: 800px) {
    nav {
        left: unset;
        transform: translateX(-379px);
    }
}