* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --accent-color: #00ff00;
    --content-width: 800px;
}

body {
    font-family: monospace;
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 50px 0;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    margin: 0 auto;
    box-shadow: 0 0 10px var(--accent-color);
    max-width: var(--content-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

br {
    margin-bottom: 10px;
}

fieldset {
    width: 90%;
    max-width: 600px;
    text-align: left;
    font-size: 1.2em;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 10px 10px 15px 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px var(--accent-color);
}

.gallery {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

img {
    max-height: 250px;
    max-width: 100%;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--accent-color);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0 10px var(--accent-color);
}

nav {
    position: fixed;
    top: 0;
    color: white;
    text-align: center;
    padding: 5px;

}

fieldset legend {
    box-shadow: 0 0 10px var(--accent-color);
    padding: 0 10px;
    text-align: center;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--accent-color);
    color: black;
    font-weight: bold;
    margin: auto;

}

li {
    color: var(--accent-color);
}

legend {
    margin: auto;
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 255);
}

hr {
    box-shadow: 0 0 10px var(--accent-color);
    border-color: var(--accent-color);
    margin: 20px 0;
}