* {
    margin: 0;
}
:root {
    scroll-behavior: smooth;
    --accent-color: #00ff00;
    --content-width: 800px;
}
body {
    font-family: monospace;
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    width: 100%;
    height: 100vh;
    background-color: black;
    margin: 0 calc(100vw - var(--content-width)) / 2;
    box-shadow: 0 0 10px var(--accent-color);
    max-width: var(--content-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-wrap-style: pretty;
}
@media (max-width: 100px) {

}
a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 1.2em;
}