* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --accent-color: #00ff00;
    --content-width: 800px;
}

body {
    font-family: monospace;
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: black;
    margin: 0 auto;
    box-shadow: 0 0 10px var(--accent-color);
    max-width: var(--content-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

br {
    margin-bottom: 10px;
}

.links {
    width: 90%;
    max-width: 600px;
    text-align: left;
    font-size: 1.2em;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 10px 10px 15px 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: rgb(0, 0, 0);
    padding: 4px;
    color: white;
    text-align: left;
    font-size: 1.5em;
    box-shadow: 0 0 10px var(--accent-color);
    border-radius: 10px;

}

fieldset.links legend {
    padding: 0 10px;
    text-align: center;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--accent-color);
    color: black;
    font-weight: bold;
}   
li{
    color: var(--accent-color);
}